
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.map_container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar.navbar-inverse {
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid black;
    z-index: 10;
}

#map_canvas {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: absolute;
    top: 50px;
    height: 100%;
    left: -500px;
    width: 30%;
    background-color: #222;
    border-right: 1px solid black;
    border-top: 1px solid black;
    opacity: 0;
    transition: left 0.3s linear, opacity 0.3s linear;
    color: #999;
    font-size: 1.6rem;
}

.sidebar .title {
    padding: 10px 5px;
    font-size: 3rem;
}

.sidebar .content {
    padding: 5px;
    border-radius: 5px;
}

/* About sidebar starts off visible */
.about_sidebar {
    left: 0px;
    opacity: 1;
}

.infowindow {
    width: 100%;
}

.infowindow .infowindow_left {
    float: left;
    width: 33%;
}

.infowindow .infowindow_right {
    float: right;
    width: 50%;
}

.infowindow img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.infowindow .description {
    clear: both;
}
