
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content_container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar.navbar-inverse {
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid black;
    z-index: 10;
}

#map_canvas {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: absolute;
    top: 50px;
    height: 100%;
    left: -500px;
    width: 30%;
    background-color: #3f3f3f;
    border-right: 1px solid black;
    border-top: 1px solid black;
    opacity: 0;
    transition: left 0.3s linear, opacity 0.3s linear;
    color: #999;
    font-size: 1.6rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar .title {
    padding: 10px 5px;
	color: #e3e3e3;
    font-size: 3rem;
    width: 100%;
}

.sidebar .content {
    padding: 5px;
    border-radius: 5px;
}

.add_report_sidebar .title h1 {
    font-size: 2.7rem;
}

.view_report_sidebar .content {
    padding: 0;
}

.view_report_sidebar .entry {
    padding: 5px 0;
    clear: both;
}

.entry .entry_title {
    float: left;
}

.entry .entry_location {
    float: right;
}

.infowindow {
    width: 100%;
}

.infowindow .title {
    text-align: center;
}

.infowindow .infowindow_left {
    float: left;
    width: 33%;
}

.infowindow .infowindow_right {
    float: right;
    width: 50%;
}

.infowindow img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.infowindow .description {
    clear: both;
}
